nav > ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: stretch;
    flex-basis: auto;
    list-style-type: none;
    padding: 0;
}

nav > ul > li {
    text-align: center;
    padding: 15px;
}


@media (min-width: 600px) and (max-width: 919px) {
    nav > ul {
        display: flex;
        flex-flow: column nowrap;
        justify-content: stretch;
        align-items: stretch;
        flex-basis: auto;
        padding: 50px;
    }

    nav > ul > li {
        padding-top: 0px;
        padding-bottom: 0px;
    }y

}

@media (min-width: 920px) {
    nav > ul {
        display: flex;
        flex-flow: column nowrap;
        align-items: stretch;
        padding: 0;
    }

    nav > ul > li {
        padding-top: 0;
        padding-bottom: 0;
    }

}
