@import "typography.css";
@import "media-queries.css";
@import "veritas/all.custom-properties.css";

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    margin: 0;
}

nav {
    background-color: var(--milkglass-bg-color);
}

header {
    background-color: var(--milkglass-bg-color);
}

.header {
    grid-area: hd;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: baseline;
    padding-left: 22px;
    padding-right: 22px;
}

.menu-icon {
    height: 20px;
}

/*Article*/
article {
    margin: 20px;
    border-width: 2px;
    border-radius: 5px;
    padding: 0;
    overflow: hidden;
}

#one {
    grid-area: one;
}

#two {
    grid-area: two;
}

#three {
    grid-area: three;
}

#four {
    grid-area: four;
}

#five {
    grid-area: five;
}

#six {
    grid-area: six;
}

.sidebar {
    grid-area: sd;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    padding: 20px;
}

.about {
    display: flex;
    justify-content: space-evenly;
}

.center {
    text-align: center;
    padding: 20px;
}

.rounded-image {
    width: 180px;
    height: 230px;
    border-radius: 5px;
}

.box {
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
    /*text-align: center;*/
    background: var(--frostyday-bg-color);
}

/*Blog-Card*/
.card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 250px 1fr;
    grid-template-areas:
    "card-image"
    "card-desc";
    max-width: 500px;

    cursor: pointer;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 0 6px 1px #ddd;
    /*filter: drop-shadow(0px 24px 64px rgba(0, 0, 0, 0.06));*/
}

.card-photo {
    grid-area: card-image;
}

figure {
    margin: 0;
    padding: 0;
}

#img-one {
    height: 250px;
    background-image: url("../ressources/tom-seger-M4_pEfJoPqc-unsplash.jpg");
    background-size: cover;
    background-position: center;
}

#img-two {
    height: 250px;
    background-image: url("../ressources/ricardo-gomez-angel-Qgph3PrfOFY-unsplash.jpg");
    background-size: cover;
    background-position: center;
}

#img-three {
    height: 250px;
    background-image: url("../ressources/malcolm-mittendrin-srx3JdaGz2E-unsplash.jpg");
    background-size: cover;
    background-position: center;
}

#img-four {
    height: 250px;
    background-image: url("../ressources/kevin-schmid-XlNaqD2wv94-unsplash.jpg");
    background-size: cover;
    background-position: center;
}

.card-description {
    grid-area: card-desc;
    padding: 20px;
}

.card-description > h2 {
    margin: 0;
}

.card-description > p {
    margin: 0;
    padding: 20px 0 20px 0;
}

.btn-card {
    font-size: 1em;
    padding: 5px 10px;
    background-color: #fff;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid /*color*/;
    color: #238381;
}

.btn-card:hover {
    /*TODO*/
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

footer {
    background-color: var(--milkglass-bg-color);
}

.footer {
    grid-area: ft;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.social-media-icon {
    width: 40px;
    height: 40px;
    /*padding: 8px;*/
    /*transition: 0.5s ease;*/
}

li > h3 {
    margin-bottom: 0;
}
