@import "typography.css";
@import "media-queries.css";
/*@import url('media-queries.css') screen;*/
@import "veritas/all.custom-properties.css";
/*import external fonts libraries google fonts, awesome,*/

/*
* {
    border: 1px dotted red !important;
}
*/

.icon {
    height: 20px;
}

header {
    background-color: var(--milkglass-bg-color);
}

.header {
    grid-area: hd;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: baseline;
    padding-left: 22px;
    padding-right: 22px;
}

nav {
    background-color: var(--milkglass-bg-color);
}

nav > ul {
    list-style-type: none;
}

.navigation {
    grid-area: nav;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: stretch;
}

.content {
    grid-area: cont;
    justify-self: center;
}

aside {
    /*background-color: var(--frostyday-bg-color);*/
    /*background-color: var(--frostyday-bg-color);*/
    /*background-color: var(--azuresky-bg-color);*/
}

article {
    max-width: 500px;
    margin: 20px;
    border-width: 2px;
    border-style: solid;
    border-color: var(--frostyday-bg-color);
    border-radius: 5px;
    padding: 20px;
}

.sidebar {
    grid-area: sd;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    margin: 20px;
    padding: 20px;
}
.box {
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
/*text-align: center;*/
background-color: var(--frostyday-bg-color);
}


footer {
    background-color: var(--milkglass-bg-color);
}

.footer {
    grid-area: ft;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 22px;
    padding-right: 22px;
}
