:root {
    --bremcake-bg-color: #F1E1C9;
    --milkglass-bg-color: #FAF8F0;
    --frostyday-bg-color: #CFECF5;
    --azuresky-bg-color: #A9E2F5;
}

body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: var(--vds-color-green);
    white-space: nowrap;
}

h2 {
    color: var(--vds-color-green);
}

h3 {
    color: var(--vds-color-green);
}

a:link {
    color: var(--vds-color-green-dark);
}

a:visited {
    color: var(--vds-color-green-light);
}

a:hover {
    color: var(--vds-color-green-darker);
}

a:active {
    color: var(--vds-color-blue-dark);
}

figure {
    font-size: xx-small;
}

.btn-card {
    font-size: 1em;
    padding: 5px 10px;
    background-color: var(--vds-color-white);
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid /*color*/;
    color: var(--vds-color-green-dark);
}

.btn-card:hover {
    color: var(--vds-color-green-darker);
    background-color: var(--vds-color-yellow-lighter);
}

.back {
    font-size: 1em;
    padding: 5px 10px;
    text-decoration: none;
    color: darkgreen;
    position: absolute;
    top: 20px;
    left: 0;
    width: 200px;
    height: 80px;
}

#quote {
    quotes: "„" "“" "‚" "‘";
}

#bold {
    font-weight: bold;
}

#italic {
    font-style: italic;
}

#underlined {
    text-decoration: underline;
}

.search-form input[type=search] {
    font-size: 1.2em;
    color: var(--vds-color-black);
    background: var(--vds-color-blue-lightest);
    border: 0;
    padding: 10px;
    width: 300px;
}
